@import './tokens.css';

@font-face {
  font-family: 'SuperCereal';
  src: url('../public/fonts/super-cereal-font/SuperCereal-owLDo.ttf') format('truetype');
}

@font-face {
  font-family: 'SuperFoods';
  src: url('../public/fonts/super-foods-font/SuperFoods-2OxXo.ttf') format('truetype');
}

@font-face {
  font-family: 'SuperNormal';
  src: url('../public/fonts/super-normal-font/SuperNormal-xRoj5.ttf') format('truetype');
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'SuperNormal', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, 'SuperFoods';
}
